<div th:replace="shared/header"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white mx-auto">
        <div class="px-40 py-4">
            <div class="font-bold text-xl mb-2 text-center">Um sistema dedicado à gestão dos cadastros de nossos
                clientes nas empresas.</div>
            <p class="text-gray-700 text-base text-center">
                A Lexicorm ADM é uma plataforma especializada no gerenciamento dos registros dos usuários do aplicativo.
                Seu propósito central é oferecer uma gestão eficiente e segura dos cadastros, assegurando a integridade
                e confiabilidade dos dados dos usuários, garantindo uma experiência consistente e de qualidade.
            </p>
        </div>
    </div>


</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<div th:replace="shared/footer"></div>